/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

.background {
  background-image: url('img/notebook.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

@font-face {
  font-family: 'Chalkiez';
  src: url('fonts/chalkiez-regular-webfont.woff2') format('woff2'),
       url('fonts/chalkiez-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Books2022';
  src: url('fonts/go_around_the_books_2022-webfont.woff2') format('woff2'),
       url('fonts/go_around_the_books_2022-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Right-Chalk';
  src: url('fonts/right_chalk-webfont.woff2') format('woff2'),
       url('fonts/right_chalk-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  justify-content: space-around;

  height: 100vh;
  width: 100vw;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.title {
  font-family: 'Books2022', sans-serif;
  font-size: 5rem;
  color: black;
  text-align: center;
}

.date {
  font-family: 'Right-Chalk', sans-serif;
  font-size: 1rem;
  color: black;
  position: fixed;
  top: 2%;
  right: 5%;
  text-align: center;
}

.grid-container {
  width: 25rem;
  height: 25rem;
  cursor: pointer;

  display: grid;
  grid-template-columns: repeat(3, 8rem);
  grid-template-rows: repeat(3, 8rem);
}

.grid-item {
  background-color: transparent;
  border: 0.2rem solid black;
  font-family: 'Right-Chalk', 'Book2022', sans-serif;
  font-size: 7rem;
  color: red;

  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: 'Chalkiez', 'Right-Chalk', sans-serif;
  font-size: 2.5rem;
  margin-top: 2rem;
}

button:hover,
.players:hover {
  text-shadow:
  -3px -3px 0 gray,
   3px -3px 0 gray,
  -3px  3px 0 gray,
   3px  3px 0 gray;
}

button:active {
  font-size: 2rem;
  color: red;
  text-shadow:
  -3px -3px 0 gray,
   3px -3px 0 gray,
  -3px  3px 0 gray,
   3px  3px 0 gray;
}

.player-score {
  display: flex;
  justify-content: center;
  align-items: center;
}

.players {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: 'Chalkiez', 'Right-Chalk', sans-serif;
  font-size: 3rem;
}

dialog {
  padding: 1rem;
  border: none;
  background: transparent;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

dialog button {
  text-shadow:
  -3px -3px 0 white,
   3px -3px 0 white,
  -3px  3px 0 white,
   3px  3px 0 white;
}

dialog button:hover {
  font-size: 2.5rem;
  text-shadow:
  -3px -3px 0 white,
   3px -3px 0 white,
  -3px  3px 0 white,
   3px  3px 0 white;
}

input {
  font-family: 'Chalkiez', 'Right-Chalk', sans-serif;
  font-size: 3rem;
  padding: 0.5rem;
  border: none;
  background-color: transparent;
  color: black;
  text-shadow:
  -3px -3px 0 white,
   3px -3px 0 white,
  -3px  3px 0 white,
   3px  3px 0 white;

  text-align: center;
  caret-color: white;
}

input:focus {
  outline: none;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.9);
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

form > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}
form > div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}